<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>read-next: My Reading List</title>
		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<form class="form-inline">
						<h3>Add a task</h3>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Title</div>
								<input id="task-title" type="text" class="form-control" required="required" autofocus="autofocus" autocomplete="off" />
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">URL</div>
								<input id="task-url" type="url" class="form-control" required="required" autocomplete="off" />
							</div>
						</div>
						<button id="add-task-btn" type="button" class="btn btn-primary" onclick="createTask()">Add</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
						<h3>Current tasks&nbsp;<span id="tasks-counter" class="badge">0</span></h3>
					<div id="task-list"></div>
				</div>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
		<script>
			function completeTask(taskId) {
				$.ajax({
					url: '/tasks/' + taskId,
					method: 'PUT',
					contentType: 'application/json',
					dataType: 'json',
					context: $('#task-' + taskId)
				})
				.done(function hideTask() {
					$(this).slideUp('fast');
					updateTaskCounter(-1);
				});
			}
			
			function updateTaskCounter(delta) {
				var value = $('#tasks-counter').text();
				var cnt = parseInt(value, 10);
				if (isNaN(cnt)) {
					cnt = 0;
				}
				$('#tasks-counter').text(cnt + delta);
			}
			
			function createHtmlTask(task) {
				return '<div id="task-' + task.id + '" class="checkbox">' +
							'<label>' +
								'<input type="checkbox" onclick="completeTask(' + task.id + ')" /> ' +
								task.title + ' (<a href="' + task.url + '" target="_blank">' + task.url + '</a>)' +
							'</label>' +
						'</div>';
			}
			
			function createTask() {
				var title = $('#task-title').val();
				var url = $('#task-url').val();
				$.post('/tasks', {
					title: title,
					url: url
				})
				.done(function updateTaskList(response) {
					$('#task-title').val('');
					$('#task-url').val('');
					var task = createHtmlTask(response);
					$('#task-list').prepend(task);
					updateTaskCounter(1);
				})
			}
			
			$(document).ready(function initPage() {
				$(document).ajaxError(function handleError(event, jqXHR, ajaxSettings, errorThrown) {
					console.error("event:", event);
					console.error("jqXHR:", jqXHR);
					console.error("ajaxSettings:", ajaxSettings);
					console.error("errorThrown:", errorThrown);
				});
				
				$.get('/tasks')
				.done(function handleResult(tasks) {
					var taskList = tasks.map(createHtmlTask);
					$('#task-list').html(taskList);
					updateTaskCounter(tasks.length);
				});
			});
		</script>
	</body>
</html>
