<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>read-next: My Reading List</title>
		<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div id="task-list"></div>
				</div>
			</div>
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function initPage() {
				$.get('/tasks')
				.done(function handleResult(tasks) {
					var taskList = tasks.map(function createHtmlTask(task) {
						return '<p>' +
									'<div class="checkbox">' +
										'<label>' +
											'<input type="checkbox" /> ' + task.title +
										'</label>' +
									'</div>' +
								'</p>';
					});
					$('#task-list').html(taskList);
				})
				.fail(function handleError(jqXHR, textStatus, errorThrown) {
					console.error("jqXHR:", jqXHR);
					console.error("textStatus:", textStatus);
					console.error("errorThrown:", errorThrown);
				});
			});
		</script>
	</body>
</html>
